/* Empty. Add your own CSS if you like */
/*.item span {
  padding-right: 1em;
}
.row:last-child{
  padding-right: 0;
}*/

.content > .table-view:first-child {
    margin-top: -2px;
}

.hidden {
    opacity: 0;
}
.media{
  text-align: center;
}


.media-object.big {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.media-object.small {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.table-view-cell h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 20px 0 4px 0;
    margin: 0;
}
.ion-arrow-graph-down-right, .ion-arrow-graph-up-right{
  font-size: 30px;
}
a, a:visited, a:link{
  text-decoration: none;
}

input[type=search] {
    border-radius: 8px;
}

.card {
    margin-top:54px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
